@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2")
    url("/fonts/ApfelGrotezk-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("/fonts/ApfelGrotezk-Regular-Fett.woff2") format("woff2")
    url("/fonts/ApfelGrotezk-Regular-Fett.woff") format("woff");
  font-weight: 600;
}

.inline_block {
  display: inline-block;
}

body {
  background-color: #e7e4df;
  font-family: "Apfel Grotezk", sans-serif;
  color: #222;
  overflow-x: hidden;
}

dl {
  display: block;
  line-height: 1.15;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 0;
  color: #555;
}

h1 {
  font-size: 3.5rem;
  margin: 0.5em 0;
}

h2 {
  font-size: 3rem;
  margin: 0.5em 0;
}

h3 {
  font-size: 3rem;
  margin: 0.5em 0;
}

h4 {
  font-size: 2.5rem;
  margin: 0.5em 0;
}

.serif {
  font-family: "EB Garamond", serif;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

#subtext {
  margin-top: 1rem;
}

.align_center {
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.float_left {
  float: left;
}

.flaot_right {
  float: right;
}

#grid {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 100vh / repeat(2, 50vw);
  justify-items: center;
  align-items: center;
  grid-auto-flow: dense;
}

.white {
  background-color: rgba(70, 70, 45, 0.3);
  z-index: 100;
}

#height100 {
  height: 100vh;
}

.fit_with_height {
  height: 35vh;
}

.fit {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cover {
  object-fit: cover;
  overflow: hidden;
}

.box {
  width: 50vw;
  height: 100vh;
}

.logo {
  width: 25vw;
  height: auto;
  position: relative;
  transform: translateY(-25%);
}

.no_select {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.right_column {
  grid-row: 1;
  grid-column: 2;
}

.lexomenu {
  display: inline-block;
  background-color: #e7e4df;
  outline: none;
  border: 1px solid #222;
  border-radius: 4rem;
  padding: 0rem 2rem;
  text-align: center;
  text-decoration: none;
  color: #222;
  margin: 0 0.5rem;
}

.lexomenu:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #e7e4df;
  margin: 0 0.5rem;
}

.lexomenu:hover:nth-child(2) {
  background-color: #547e28;
  border: 1px solid #547e28;
}

.buttons {
  display: inline-block;
  background-color: #222;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 4rem;
  text-align: center;
  text-decoration: none;
  color: #e7e4df;
  margin: 0 0.5rem;
}

.buttons:hover {
  background-color: #c69b68;
}

.buttons_brown {
  color: #e7e4df;
  background-color: #5d2f15;
}

#buttons_green {
  color: #e7e4df;
  background-color: #547e28;
}

#buttons_green:hover {
  background-color: #669632;
}

.buttons_padding_override {
  height: 3.5rem;
}

.links {
  font-weight: 500;
}

.main {
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.main_no_top {
  margin-left: 10vw;
  margin-right: 10vw;
}

.showcase {
  display: block;
  width: 100%;
}

article.main {
  margin-top: 11rem;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  display: grid;
  /* height: 300px; */
  grid-template: repeat(1, auto) / repeat(3, 20vw);
  grid-column-end: span 3;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
  row-gap: 3rem;
}

.showcase_images {
  height: 400px;
}

.clear_float {
  clear: both;
}

.align_self_center {
  align-self: center;
}

/* .container {
	margin: auto;
	height: auto;
	width: auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
} */

.set_to_center {
  grid-column: span 3;
  grid-row: 2;
}

.info {
  font-size: 1rem;
  display: inline-block;
  background-color: #e7e4df;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 4rem 1rem 2rem;
  text-decoration: none;
  color: #222;
  margin: 0 1rem 1rem 0;
}

.mainLoginInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Apfel Grotezk", Arial, Helvetica, sans-serif;
  opacity: 1; /* Firefox */
}

.mainLoginInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Apfel Grotezk", Arial, Helvetica, sans-serif;
}

.mainLoginInput::-ms-input-placeholder {
  /* Microsoft Edge */

  font-family: "Apfel Grotezk", Arial, Helvetica, sans-serif;
}

.mainsubmit {
  font-family: "Apfel Grotezk", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.reservation {
  background-image: url("../icons/olive_green.svg");
  background-size: 60%;
  background-position-x: right;
  background-blend-mode: luminosity;
  background-position-x: 110%;
  background-position-y: -25%;
  background-repeat: no-repeat;
  color: #e7e4df;
  background-color: #000;
  padding: 2rem 5rem;
  border-radius: 1rem;
  margin-top: 11rem;
}

#reservation {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#submit {
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 5rem;
  border: none;
  display: block;
  color: #e7e4df;
  outline-offset: -3px;
  outline: solid #e7e4df;
  background-color: #000;
}

#submit:hover {
  color: #222;
  background-color: #e7e4df;
}

.full_width {
  display: inline-block;
  width: 100%;
}

#orari {
  border: 3px solid #222;
  background-color: #e7e4df;
  float: right;
  text-align: left;
  width: 30%;
  /* margin-top: -11.5rem; */
  margin-bottom: 4rem;
}

#orari td,
#orari th {
  padding: 8px;
}

#orari tr:hover {
  background-color: #ddd;
}

#orari th {
  padding-top: 12px;
  padding-bottom: 12px;
}

#orari tr:nth-child(even) {
  background-color: #dbd8d2;
}

#pjata_e_dites {
  margin-top: 11rem;
  /* float: right; */
  /* border-radius: 1rem; */
  height: 400px;
  width: 60vw;

  object-fit: cover;
}

.pjate_e_dites {
  height: 400px;
  width: 60vw;
}

.line {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.other_p {
  margin-top: 5rem;
}

#oret_e_hapura {
  margin-top: 0;
}

.flex_column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.flex_row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.align_bottom {
  align-self: bottom;
  /* margin-top: 5rem; */
}

.align_top {
  align-self: top;
}

#promo_image {
  object-fit: contain;
  width: 100%;
}

.footer {
  padding: 5rem;
  height: 15rem;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-template:
    "logo logo item_left item"
    "logo logo item_left item_right"
    "logo logo item_left item_right2"
    "logo logo item_left item";

  align-items: center;
  row-gap: 10px;
  column-gap: 50px;
}

.footer_surround {
  background-color: #222;
  width: 100%;
}

.footer a {
  color: #e7e4df;
}

.text_decoration_off {
  text-decoration: none;
}

.text_decoration {
  text-decoration: solid;
  text-decoration-color: #5d2f15;
}

#logo_footer {
  width: 60%;
  grid-column: span 2;
  grid-row: span 4;
  align-self: center;
}

.left_align {
  grid-column: 3;
}

.right_align {
  grid-column: 4;
  grid-row: 2;
  text-align: right;
}

.right_align1 {
  text-align: right;
  grid-column: 4;
  grid-row: 3;
}

#reservation::before {
  display: block;
  content: " ";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

.smaller_vw {
  margin-top: 0;
  margin: auto;
  width: 60vw;
}

.daily_plates {
  margin-top: 2rem;
}

.max_top_margin {
  margin-top: 11rem;
}

.big_top_margin {
  margin-top: 7rem;
}

.medium_top_margin {
  margin-top: 5rem;
}

.small_top_margin {
  margin-top: 2rem;
}

.no_top_margin {
  margin-top: 0;
}

#punim_e_siper {
  width: 20vw;
  margin-top: 9rem;
}

#heading_menu {
  display: grid;
  grid-template-columns: auto 6rem;
  grid-template-rows: auto;
  justify-content: auto;
  align-items: center;
}

.menu_logo {
  width: 6rem;
  height: auto;
  transform: translateY(20%);
}

.menu_items {
  line-height: 1.25rem;
}

.menu_description {
  margin-left: 0;
}

.about_logo {
  margin: auto;
}

.medium_bottom_margin {
  margin-bottom: 5rem;
}

.big_bottom_margin {
  margin-bottom: 7rem;
}
